<h1>Album detail</h1>

<image *ngIf="album" [url]="album.COVER_URL" [dimension]="300"></image>

<p>
  {{ album | json }}
</p>

<br>

<div>
  <table mat-table [dataSource]="dataSource" matSort>
  
    <!-- Name Column -->
    <ng-container matColumnDef="TRACK_NO">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Track </th>
      <td mat-cell *matCellDef="let s"> {{s.TRACK_NO}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="TITLE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let s"> {{s.TITLE}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="LENGTH">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
      <td mat-cell *matCellDef="let s"> {{s.LENGTH | minuteSeconds}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>