<div class="player" >

  <div class="song">
    <span style="margin: 10px;">{{ (playlist[cursor]) ? playlist[cursor].TITLE + " - " + playlist[cursor].ARTIST_NAME  : "No song selected" }}</span>
  </div>

  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center;">

    <button mat-icon-button color="primary" (click)="prev()">
      <mat-icon>skip_previous</mat-icon>
    </button>

    <button mat-icon-button color="primary" (click)="toggle()">
      <mat-icon>{{ playPauseIcon }}</mat-icon>
    </button>
  
    <button mat-icon-button color="primary" (click)="next()">
      <mat-icon>skip_next</mat-icon>
    </button>
  
    <!-- <mat-progress-bar mode="determinate" [value]="progress" (click)="seek()"></mat-progress-bar> -->
    <mat-slider style="width: 100%;" min="0" [max]="max" step="1" [value]="progress" (input)="seek($event)"></mat-slider>
  
    <span class="time">{{ (time | minuteSeconds) +"&#x2f;"+ ((playlist[cursor]) ? (playlist[cursor].LENGTH | minuteSeconds) : "00:00") }}</span>

    <button mat-icon-button color="primary" (click)="showQueue()">
      <mat-icon>list</mat-icon>
    </button>

  </div>

  <audio #audioOption preload="auto" (ended)="next()" (timeupdate)="updateProgress()"></audio>

</div>
