<!-- https://material.angular.io/components/button/examples -->
<mat-toolbar color="secondary">
  <span>Piratefy</span>
  <a mat-button routerLink="/artists"><mat-icon>library_music</mat-icon> Artists</a>
  <a mat-button routerLink="/albums"><mat-icon>collections</mat-icon> Albums</a>
  <a mat-button routerLink="/songs"><mat-icon>collections</mat-icon> Songs</a>
  
</mat-toolbar>

<div class="body">
  <router-outlet></router-outlet>
</div>

<audio #audioOption controls>
    <source src="http://localhost:5000/api/songs/play/30" type="audio/mp3">
</audio>

<!-- 
<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="red">img</mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="blue">title</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="blue">ff</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="blue">play</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="blue">next</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="blue">progression</mat-grid-tile>
</mat-grid-list> -->


<!-- <mat-grid-list cols="4" rowHeight="50px" class="player">
  <mat-grid-tile [colspan]="3" [rowspan]="1" style="background-color: lightblue;"> one </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" style="background-color: lightpink;"> two </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"  style="background-color: lightgreen;"> three </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1"  style="background-color: lightcoral;"> four </mat-grid-tile>
</mat-grid-list> -->